body {
  font-family: monospace, sans-serif;
  font-size: 16px;
  line-height: 1.42857143;
  color: #333;
  background-color: #f0f0f0;
}
input.link {
  font-size: 1rem;
  font-style: italic;
  width: 95%;
  max-width: 60rem;
  padding: 0.5rem;
}
.check-span {
  margin-right: 1.5rem;
  line-height: 2.5rem;
} 
input[type="submit"] {
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  border: none;
  background: #1d6e07;
  margin-bottom: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: #fff;
}
input[type="submit"]:hover {
  background: #228e04;
}
h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
a {
  color: #258c09;
  text-decoration: none;
  background-color: transparent;
  text-underline-offset: 0.4rem;
}
a:hover {
  color: #27a404;
  text-decoration: underline dotted;
}
blockquote {
  margin: 1.5rem 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-left: 1rem;
  border-left: 3px solid #ccc;
}
.ol-links {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
  flex-wrap: wrap;
}
.ol-links li {
  display: inline;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
}
.version-info {
  margin: 1.5rem 0;
  color: #777;
}
